<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TenantId" value="{Your Azure AD Tenant ID}"/>
    <add key="ClientId" value="{Your Azure AD Client ID}"/>
    <add key="RedirectUri" value="{Your Azure AD Redirect URI}"/>
    <add key="APIScope" value="{The Azure AD Scope Value for your backend API}"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BasicEndpoint">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44326/Service1.svc" binding="wsHttpBinding"
        bindingConfiguration="BasicEndpoint" contract="ServiceReference1.IService1"
        name="BasicEndpoint" />
    </client>
  </system.serviceModel>
</configuration>